# FastAPI
fastapi>=0.100.0
uvicorn[standard]>=0.20.0

# Pydantic (including settings management)
pydantic>=2.0.0
pydantic-settings>=2.0.0
pydantic-ai
pydantic[email]

# Environment variables
python-dotenv>=1.0.0

# LLM Interaction
litellm>=1.30.0 # For potential future integration or other services

# HTTP Requests (used by services)
# requests>=2.28.0 # Removed, assuming httpx is sufficient
websockets>=11.0.3 # Keep if needed for FastAPI/uvicorn or other async comms
httpx>=0.24.0 # Used for downloading PDFs and potentially by Crawl4AI

# Web Scraping & Related
git+https://github.com/salzubi401/crawl4ai.git@main
wikipedia-api>=0.6.0
markitdown # Use MarkItDown for PDF conversion
langchain-text-splitters
PyMuPDF

# Reranking
together

# Markdown
markdown>=3.5.1

#database
firebase-admin

# Tokenization
tiktoken